h1{
  color: Crimson;
  font-size: 12px;
}
p1{
  color: GoldenRod;
  font-size: 12px;
}
p2{
  color:LightGreen;
  font-size: 12px;
}
p3{
  color: MediumPurple;
  font-size: 12px;
}
p4{
  color: PowderBlue;
  font-size: 12px;
}
p5{
  color: DarkMagenta;
  font-size: 12px;
}
p6{
  color: Gold;
  font-size: 12px;
}
